<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulário Grupos</title>
</head>
<body>
    <h2>{{title}}</h2>
    <p><a href="/">Retornar ao Índice</a></p>
    <div class="container">
        <form method="post" class="formentry">
            <div class="linha">
                <label for="nome">
                    Nome:
                    <input type="text" name="nome_Grupo" value="{{Grupo['nome_Grupo']}}" maxlength="30" required>
                </label>
            </div>
            <div class="linha">
                <label for="quant_membros">
                    Quantidade de Membros:
                    <input type="number" name="quant_membros" value="{{Grupo['quant_membros']}}" required>
                </label>
            </div>
            <button type="submit">Enviar</button>
        </form>
    </div>
</body>
</html>
