<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personagens</title>
</head>
<body>
    <div>
        <a href="/">Retornar ao Índice</a>
        {% if Personagens.__len__() == 0 %}
        <h2>Não há Personagens Registrados!</h2>
        {% endif %}
        <div>
            <table border='1'>
                <h2>Tabela Personagens</h2>
                <thead>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Poder</th>
                    <th>Arma</th>
                    <th>Força</th>
                    <th>Agilidade</th>
                    <th>Nível</th>
                </thead>
                <tbody>
                    {% for personagem in Personagens %}
                    <tr>
                        <td>{{personagem['id']}}</td>
                        <td>{{personagem['nome_person']}}</td>
                        <td>{{personagem['poder_person']}}</td>
                        <td>{{personagem['arma_person']}}</td>
                        <td>{{personagem['forca_person']}}</td>
                        <td>{{personagem['agilidade_person']}}</td>
                        <td>{{personagem['nivel_person']}}</td>
                        <td><a href="Personagem/editar/{{personagem['id']}}">Editar</a></td>
                        <td><a href="Personagem/remover/{{personagem['id']}}">Apagar</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <a href="Personagem/novo">Adicionar novo Registro</a>
        </div>
        <h2>Tabelas de Relação:</h2>
        <div>
            <table border="1">
                <h3>Personagens - Grupos</h3>
                <thead>
                    <th>Nome</th>
                    <th>Poder</th>
                    <th>Arma</th>
                    <th>Força</th>
                    <th>Agilidade</th>
                    <th>Nível</th>
                    <th>Grupo_Nome</th>
                    <th>Grupo_Membro</th>
                </thead>
                <tbody>
                    {% for rel in PGrup %}
                    <tr>
                        <td>{{rel['nome_person']}}</td>
                        <td>{{rel['poder_person']}}</td>
                        <td>{{rel['arma_person']}}</td>
                        <td>{{rel['forca_person']}}</td>
                        <td>{{rel['agilidade_person']}}</td>
                        <td>{{rel['nivel_person']}}</td>
                        <td>{{rel['nome_Grupo']}}</td>
                        <td>{{rel['quant_membros']}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div>
            <table border="1">
                <h3>Personagens - Missões</h3>
                <thead>
                    <th>Nome</th>
                    <th>Poder</th>
                    <th>Arma</th>
                    <th>Força</th>
                    <th>Agilidade</th>
                    <th>Nível</th>
                    <th>Missão_Objetivo</th>
                    <th>Missão_Descrição</th>
                    <th>Missão_Recompensa</th>
                </thead>
                <tbody>
                    {% for rel in PMis %}
                    <tr>
                        <td>{{rel['nome_person']}}</td>
                        <td>{{rel['poder_person']}}</td>
                        <td>{{rel['arma_person']}}</td>
                        <td>{{rel['forca_person']}}</td>
                        <td>{{rel['agilidade_person']}}</td>
                        <td>{{rel['nivel_person']}}</td>
                        <td>{{rel['objetivo_mis']}}</td>
                        <td>{{rel['descricao_mis']}}</td>
                        <td>{{rel['recompensa']}}</td>

                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div>
            <table border="1">
                <h3>Personagens - Gêneros</h3>
                <thead>
                    <th>Nome</th>
                    <th>Poder</th>
                    <th>Arma</th>
                    <th>Força</th>
                    <th>Agilidade</th>
                    <th>Nível</th>
                    <th>Gênero_Tipo</th>
                </thead>
                <tbody>
                    {% for rel in PGene %}
                    <tr>
                        <td>{{rel['nome_person']}}</td>
                        <td>{{rel['poder_person']}}</td>
                        <td>{{rel['arma_person']}}</td>
                        <td>{{rel['forca_person']}}</td>
                        <td>{{rel['agilidade_person']}}</td>
                        <td>{{rel['nivel_person']}}</td>
                        <td>{{rel['tipo_gene']}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>
