<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grupos</title>
</head>
<body>
    <div>
        <a href="/">Retornar ao Índice</a>
        {% if Grupos.__len__() == 0 %}
        <h2>Não há Grupos Registrados!</h2>
        {% endif %}
        <table border='1'>
            <thead>
                <th>ID</th>
                <th>Nome</th>
                <th>Quantidade de Membros</th>
            </thead>
            <tbody>
                {% for grupos in Grupos %}
                <tr>
                    <td>{{grupos['id']}}</td>
                    <td>{{grupos['nome_Grupo']}}</td>
                    <td>{{grupos['quant_membros']}}</td>
                    <td><a href="Grupos/editar/{{grupos['id']}}">Editar</a></td>
                    <td><a href="Grupos/remover/{{grupos['id']}}">Remover</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="Grupos/novo">Adicionar novo Registro</a>
    </div>
</body>
</html>
